.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

/* .dropdown-toggle{
  background-color: white;
} */

.dropdown-toggle{
  color: white;
}

img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
